.well.well-large.topic
  .row-fluid
    .span1.centered-content.voting.pull-left
      .up.vote
        = link_to upvote_topic_path(topic) do
          %i.icon-circle-arrow-up
      .score
        = topic.upvotes.size - topic.downvotes.size
      .down.vote
        = link_to downvote_topic_path(topic) do
          %i.icon-circle-arrow-down
    .span10
      %h3= link_to topic.title, topic_path(topic)
      %p= topic.description
      - if can? :edit, topic
        %p.topic-actions
          = link_to t('.edit', :default => t("helpers.links.edit")),    |
            edit_topic_path(topic), :class => 'btn btn-mini edit-topic' |
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
            topic_path(topic),                                                                                           |
            :method => :delete,                                                                                          |
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
            :class => 'btn btn-mini btn-danger destroy-topic'                                                            |
    .row-fluid
      .span12
        %hr/
        .row-fluid
          .span6.pull-left
            %p
              %b= t("created_by") + " " + topic.user.username  + " " + distance_of_time_in_words(topic.created_at, Time.now) + " ago"
          .span6.pull-right.align-right
            %p
              %i.icon-comment
              = t ".arguments"
              \: #{topic.arguments.count}