<%- model_class = Topic -%>
<div class="well well-large">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_topic_path, :class => 'btn btn-primary' %>
</div>
<% @topics.each do |topic| %>
  <div class="well well-large">
    <div class="row-fluid">
      <div class="span1 centered-content voting pull-left">
        <div class="up vote">
          <%= link_to upvote_topic_path(topic) do %>
            <i class='icon-circle-arrow-up'></i>
          <% end %>
        </div>
        <div class="score">
          <%= topic.upvotes.size - topic.downvotes.size %>
        </div>
        <div class="down vote">
          <%= link_to downvote_topic_path(topic) do %>
            <i class="icon-circle-arrow-down"></i>
          <% end %>
        </div>
      </div>
      <div class="span11">
        <h3><%= link_to topic.title, topic_path(topic) %></h3>
        <p><%= topic.description %></p>
        <p><b><%= t("created_by") + " " + topic.user.username  + " " + distance_of_time_in_words(topic.created_at, Time.now) + " ago" %></b></p>
        <% if can? :edit, topic %>
          <p>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_topic_path(topic), :class => 'btn btn-mini'%>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        topic_path(topic),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
