<%- model_class = Topic -%>
<div class="page-header hero-unit">
  <div class="row-fluid">
    <div class="span1 centered-content voting pull-left">
      <div class="up vote">
        <%= link_to upvote_topic_path(@topic) do %>
          <i class='icon-circle-arrow-up'></i>
        <% end %>
      </div>
      <div class="score">
        <%= @topic_score %>
      </div>
      <div class="down vote">
        <%= link_to downvote_topic_path(@topic) do %>
          <i class="icon-circle-arrow-down"></i>
        <% end %>
      </div>
    </div>
    <div class="span11">
      <h1><%= @topic.title %></h1>
      <p><%= @topic.description %></p>
      <p><b><%= t("created_by") + " " + @topic.user.username  + " " + distance_of_time_in_words(@topic.created_at, Time.now) + " ago" %></b></p>
    </div>
  </div>
  
  <div id="poll" class="row">
    <div class="poll-button yes-vote pull-left span1">
      <%= link_to upvote_poll_topic_path(@topic) do %>
        <i class='icon-thumbs-up'></i>
      <% end %>
    </div>
    <div class="progress span8">
      <% if @total_poll_votes == 0 %>
        <div class="bar bar-warning" style="width: 100%;"><p><%= t("no_votes") %></p></div>
      <% else %>
        <div class="bar bar-success" style="width: <%= @poll_upvotes %>%;"><p><%= "#{t('yes')} (#{@poll_upvotes} %)" %></p></div>
        <div class="bar bar-danger" style="width: <%= @poll_downvotes %>%;"><p><%= "#{t('no')} (#{@poll_downvotes} %)" %></p></div>
      <% end %>
    </div>
    <div class="poll-button no-vote pull-right span1">
      <%= link_to downvote_poll_topic_path(@topic) do %>
        <i class='icon-thumbs-down'></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2 class="centered-content">Pro</h2>
    <% @topic.arguments.where(:sort => "pro").each do |argument| %>
      <div class="well">
        <div class="row">
          <div class="span1 centered-content voting">
            <div class="up vote">
              <%= link_to upvote_topic_argument_path(@topic, argument) do %>
                <i class='icon-circle-arrow-up'></i>
              <% end %>
            </div>
            <div class="score">
              <%= argument.score %>
            </div>
            <div class="down vote">
              <%= link_to downvote_topic_argument_path(@topic, argument) do %>
                <i class="icon-circle-arrow-down"></i>
              <% end %>
            </div>
          </div>
          <div class="span4">
            <h3><%= argument.title %></h3>
            <p><%= argument.description %></p>
            <p><b><%= t("created_by") + " " + argument.user.username  + " " + distance_of_time_in_words(argument.created_at, Time.now) + " ago" %></b></p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to new_topic_argument_path(:topic_id => @topic.id, :sort => "pro"), :class => "btn btn-success btn-block btn-large" do %>
      <i class="icon-plus-sign"></i> <%= t("add_pro_argument") %>
    <% end %>
  </div>
  <div class="span6">
    <h2 class="centered-content">Contra</h2>
    <% @topic.arguments.where(:sort => "contra").each do |argument| %>
      <div class="well">
        <div class="row">
          <div class="span1 centered-content voting">
            <div class="up vote">
              <%= link_to upvote_topic_argument_path(@topic, argument) do %>
                <i class='icon-circle-arrow-up'></i>
              <% end %>
            </div>
            <div class="score">
              <%= argument.score %>
            </div>
            <div class="down vote">
              <%= link_to downvote_topic_argument_path(@topic, argument) do %>
                <i class="icon-circle-arrow-down"></i>
              <% end %>
            </div>
          </div>
          <div class="span4">
            <h3><%= argument.title %></h3>
            <p><%= argument.description %></p>
            <p><b><%= t("created_by") + " " + argument.user.username  + " " + distance_of_time_in_words(argument.created_at, Time.now) + " ago" %></b></p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to new_topic_argument_path(:topic_id => @topic.id, :sort => "contra"), :class => "btn btn-danger btn-block btn-large" do %>
      <i class="icon-minus-sign"></i> <%= t("add_contra_argument") %>
    <% end %>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              topics_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_topic_path(@topic), :class => 'btn' if can? :edit, @topic %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              topic_path(@topic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :destroy, @topic%>
</div>
