<div class="page-header hero-unit">
  <div class="row">
    <div class="span8">
      <h1><%= @topic.title %></h1>
      <p><%= @topic.description %></p>
      <p><b><%= t("created_by") + " " + @topic.user.username  + " " + distance_of_time_in_words(@topic.created_at, Time.now) + " ago" %></b></p>
    </div>
  </div>
</div>

<%= simple_form_for [@topic, @argument], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :sort, :as => :hidden, :value => @argument.sort %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                topic_path(@topic), :class => 'btn' %>
  </div>
<% end %>
