%h1 Editing argument
= render 'form'
= link_to 'Show', @argument
|
\#{link_to 'Back', arguments_path}
%h1 Editing argument
= render 'form'
= link_to 'Show', @argument
|
\#{link_to 'Back', arguments_path}