<div class="span6 spancenter">
  <div class="page-header">
    <h2><%= t("change_password") %></h2>
  </div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "New password", :required => true, :wrapper => :prepend do %>
      <span class="add-on"><i class="icon-lock"></i></span><%= f.input_field :password %>
    <% end %>
    <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true, :wrapper => :prepend do %>
      <span class="add-on"><i class="icon-lock"></i></span><%= f.input_field :password_confirmation %>
    <% end %>
  </div>
  
  <%= render "devise/shared/links" %>
  
  <div class="form-actions centered-content">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>
</div>