<div class="span6 spancenter">
  <div class="page-header">
    <h2><%= t("forgot_password") %></h2>
  </div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :login, :required => true, :autofocus => true, :wrapper => :prepend do %>
        <span class="add-on"><i class="icon-user"></i></span><%= f.input_field :login, :placeholder => t("username_or_email") %>
    <% end %>
  </div>
  
  <%= render "devise/shared/links" %>
  
  <div class="form-actions centered-content">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

</div>
