<%= simple_form_for "user", :url => user_session_path, :html => { :class => 'navbar-form form-inline pull-right' } do |f| %>
  <%= f.input :login, :wrapper => :prepend, :label => false do %>
      <span class="add-on"><i class="icon-user"></i></span><%= f.input_field :login, :class => "input-small span2", :placeholder => t("username_or_email") %>
  <% end %>
  <%= f.input :password, :wrapper => :prepend, :label => false do %>
    <span class="add-on"><i class="icon-lock"></i></span><%= f.input_field :password, :class => "input-small span2", :placeholder => t("password") %>
  <% end %>
    <%= f.submit 'Login', :class => 'btn' %> <%= link_to t("sign_up"), new_user_registration_path, :class => "btn" %>
<% end %>